:root {
  --news-container-size: 400px;
  --feed-container-size: 245px;
  --lightgray: #f4f8fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--lightgray);
}
/* 
.App {
  display: flex;
} */
